body{
    background-image: url(img/fon.jpg);
    font-size: 36px;
    color: #fff;
}

.sure{
    text-align: center;
}

a{
    text-decoration: none;
}

.sp-circle-link-1{
	position: absolute;
	left: 35%;
	bottom: 480px;
	margin-left: -50px;
	text-align: center;
	line-height: 80px;
	width: 80px;
	height: 80px;
	background: #fff;
	color: #3f1616;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 16s backwards;
	-moz-animation: fadeInRotate 1s linear 16s backwards;
	-ms-animation: fadeInRotate 1s linear 16s backwards;
	animation: fadeInRotate 1s linear 16s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.sp-circle-link-1:hover {
	background: #000;
	color: #fff;
}

.sp-circle-link-2{
	position: absolute;
	left: 65%;
	bottom: 480px;
	margin-left: -50px;
	text-align: center;
	line-height: 80px;
	width: 80px;
	height: 80px;
	background: #fff;
	color: #3f1616;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 16s backwards;
	-moz-animation: fadeInRotate 1s linear 16s backwards;
	-ms-animation: fadeInRotate 1s linear 16s backwards;
	animation: fadeInRotate 1s linear 16s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.sp-circle-link-2:hover {
	background: #000;
	color: #fff;
}